.playerTrackInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.playerTrackInfo .icon{
    width: 30%;
    height: auto;
    text-align: center;
}

.playerTrackInfo .info{
    width: 70%;
}

.playerTrackInfo h4, h5{
    margin: .5em;
}

