.playerTrackController{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.playerTrackController .controller > *{
    height: 2em;
    width: auto;
    margin: .5em;
}

.playerTrackController .controller > *:hover{
    background: hsla(0, 100%, 100%, .2);
}