table.TracksTable{
    border-collapse: collapse;
    width: 100%;
}

.TracksTable tr{
    border-bottom: 1px solid hsla(0, 100%, 100%, .3);
    line-height: 2.2;
}

.TracksTable tr:hover{
    background: hsla(0, 100%, 100%, .1);
}

.TracksTable > thead th{
    text-align: start;
    font-size: .8em;
}

.TracksTable > thead th img{
    width: 1.4em;
}

.TracksTable td:first-child img:first-child{
    margin-right: .5em;
}

.TracksTable .playTrack{
    visibility: hidden;
}

.TracksTable td:first-child > *{
    width: 1.3em;
}

.TracksTable .playTrack, .TracksTable .addTrack{
    vertical-align: middle;
}

.TracksTable .playTrack:hover, .TracksTable .addTrack:hover{
    background: hsla(0, 100%, 100%, .2);
}