table.PlayListBody{
    border-collapse: collapse;
}

.PlayListBody tr{
    border-bottom: 1px solid hsla(0, 100%, 100%, .3);
    line-height: 2.2;
}

.PlayListBody tr:hover{
    background: hsla(0, 100%, 100%, .1);
}

.PlayListBody > thead th{
    text-align: start;
}