.SideBar{
    width: 16%;
    display: flex;
    flex-direction: column; 
    padding: 1em 0 0 1em; 
}

.SideBar h5{
    color: hsla(0, 100%, 100%, .6);
    padding-left: .7em;
}

.SideBar a::before{
    content: '';
    display: inline-block;
    width: .1em;
    height: 1em;
    vertical-align: middle;
    margin-right: 1em;
}

.SideBar a:hover{
    color: whitesmoke;
}

.SideBar a.active::before{
    background: green;
}